body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

#navbar {
    min-height: 90px;
    display: flex;
    width: 100%;
    background: darkslategrey;
  }

.currentDate {
    font-size: 20px;
}

.cityName {
  font-size: 25px;
}

.forcast-cards {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

footer {
    border-top: 10px;
    padding: 20px;
    border-bottom: 10px;
    text-align: center;
  
  }