body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

#navbar {
    min-height: 90px;
    display: flex;
    width: 100%;
    background: darkslategrey;
  }

.current-date {
    color:rgb(10, 10, 10);
}

.city-name {
  font-size: 30px;
}


footer {
    border-top: 10px;
    padding: 20px;
    border-bottom: 10px;
    text-align: center;
  
  }